@import './_reset.scss';
@import './_variables.scss';

* {margin: 0; padding: 0; box-sizing: border-box}

h1 {font-family: $head; font-weight: 800}
h2 {font-family: $subhead; font-weight: 600;}
html, p, span, ul, li {font-family: $body}

