@import './_reset.scss';
@import './_variables.scss';

* {margin: 0; padding: 0; box-sizing: border-box}

h1 {font-family: $head; font-size: 2.1rem; font-weight: 800; color: #131313}
h2 {font-family: $subhead; font-size: 1.24rem; font-weight: 600;}
html, p, span, ul, li {font-family: $body; color: #333;}

body {
    min-height: 110vh; //debug
}

a {
    text-decoration: none;
    border-bottom: 2px solid $green;
}

