@import './_variables.scss';

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
    background-image: url("/images/bodia-map-on-table_result_result.webp");
    background-size: cover;
    width: 100%;
    height: $heroHeight;

    position: fixed;
    z-index: -10;
    margin-top: $navHeight;
    // border: 1px solid red; //debug
    
    @media(max-width: $mobile-bp) {
        margin-top: 0;
        height: 90%;
    }

    .logo {
        width: 528px;
    }
    .slogan {
        margin-top: 1em;
        font-size: 1.5rem;
        color: #fcfcfc;
        text-shadow: 1px 2px 6px rgba(35,35,35,.75);
        font-family: 'Oswald';
    }
    .slogan:lang(khm) {
        font-family: 'Koulen';
        font-size: 1.8rem;
    }

}