@import './_variables.scss';

section:first-of-type {
    padding-top: 5em;
    @media (max-width: $mobile-bp) {padding: 2.5em 10%;}
}
.ipSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5em 10%;
    width: 100%;
    background: #fff;
    margin-top: $heroHeight * 1.25;
    position: absolute;
    @media (max-width: $mobile-bp) {
        position: fixed;
        bottom: $navHeight - 40px;
    }

    .subDiv {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 2em 0;
        width: 100%;
        width: 800px;
        max-width: 800px;
        h2 {margin-bottom: .5em;}
        span {
            max-width: 50ch;
            width: 45%;
            ul {
                list-style-type: square;
            }
            
        }
        img  {
            display: block;
            width: 35%;
            height: 35%;
        }

    }
    .subDiv.fullWidth {
        span {width: 100%; max-width: 100%;}
    }
}
section:nth-of-type(2) {
    background: $snow;
    // h1 {color: #fcfcfc}
}


.ipInfo {
    display: flex;
    background: #d7d7d7;
    margin: 1em 0;

    @media (max-width: $mobile-bp) {
        
        // bottom: 0;
    }

    #ipInput {
        color: $darkBrown;
        padding: 8px 20px;
        width: 100%;
        font-size: 2em;
        border: 2px solid $brown; //debug
    }
    button {
        margin-top: 5px;
        width: 100%;
        height: 15px;
    }

}